<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/standard.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <title>Delete Post</title>
</head>
<body>
<h1>Post Deleted</h1>
<div action="#" th:action="@{/blogpost}" method="post">
    <button type="submit">Go Back</button>
</div>
</body>
</html>