<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Mom's Who Code Blog</title>
</head>
<body>
<div id="title">
<h1>Welcome to Mom's Who Code!</h1>
<h4>Check Out Our Blogs!</h4>
    <div class="container">
        <div class="row">
            <div th:each="blog:${posts}">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p th:text="${blog.title}"/>
                        </div>
                        <div class="panel-body">
                            <p th:text="${blog.author}"/>
                            <p th:text="${blog.blogEntry}" />
                        </div>
                        <div class="panel-footer">
                            <!-- Link to Update -->
                            <!-- Link to Show  -->
                            <!--  Link to Destroy -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a th:href="@{/blogpost/new}">
            <button class= "btn btn-primary" >Submit a New Blog Post</button>
        </a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>